*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
header{
    background: rgb(223, 0, 0);
}
.izquierda p a{
    display: inline-block;
    font-size: 30px;
    text-decoration: none;
    color: #fff;
}
.centrado{
    box-shadow: 3px 3px 10px;
}
.derecha{
    display: flex;
    flex-wrap: wrap;
    padding: 5px 0;
    float: right;
}
form input[type="text"]{
    border: none;
    background: none;
    color: #fff;
    font-size: 17px;
    border: 1px solid #fff;
    border-radius: 3px;
    padding: 5px 15px;
    margin-top: 6px;

}
form button{
    border: none;
    background: none;
    font-size: 18px;
    color: #fff;
}
.menu ul{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}
.menu ul li a{
    color: #fff;
    display: inline-block;
    font-size: 20px;
    padding: 10px 15px;
    
}
.buscar{
    position: relative;
}
.icono{
    position: absolute;
    top: 16px;
    right: 10px;
}
.card-title a{
    color: #000;
}
.paginacion ul li{
    display: inline-block;
    margin-right: 10px;
}
.paginacion ul .active a{
    background: rgb(223, 0, 0);
}
.paginacion ul .disabled{
    background: #c8c8c8;
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    padding: 15px 25px;
    cursor: not-allowed;
    color: #fff;
    text-decoration: none;
}
.paginacion ul li a {
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    padding: 15px 25px;
    background: #424242;
    color: #fff;
    text-decoration: none;
}
.paginacion ul li a:hover {
    text-decoration: none;
    background: #3299bb;
}
footer{
    padding: 30px 0;
    background: rgb(223, 0, 0);
    color: #fff;
    width: 100%;
}
.centrado .img{
    padding: 20px 0;
}
.formulario_login .usuario,
.formulario_login .password{
    color: #000;
    width: 100%;
    padding: 15px 15px;
    font-size: 17px;
    border: 1px solid rgba(0, 0, 0, .3);
    margin-bottom: 20px;
    border-radius: 3px;
}
.formulario_login .usuario:focus,
.formulario_login .password:focus{
    border: 1px solid #000;
}
.btn-login{
    font-size: 17px;
    color: #fff;
    padding: 10px 15px;
    background: rgba(0, 0, 0, .5);
    border-radius: 3px;
    cursor: pointer;
}
.btn-login:hover{
    color: #fff;
}
.formulario_login .btn-login{
    font-size: 17px;
    color: #fff;
    padding: 10px 15px;
    background: rgba(0, 0, 0, .5);
    float: right;
    border-radius: 3px;
    cursor: pointer;
}
.formulario_login .btn-login:active{
    background: rgba(0, 0, 0, .6);
}
.centrado .enlaces{
    display: flex;
    flex-wrap: wrap;
}
.centrado .enlaces a{
    padding-right: 10px; 
}
.form_nuevo input[type="text"],
.form_nuevo textarea{
    color: #000;
    width: 100%;
    padding: 15px 15px;
    font-size: 17px;
    border: 1px solid rgba(0, 0, 0, .3);
    margin-bottom: 20px;
    border-radius: 3px;
}
.form_nuevo input[type="text"]:focus,
.form_nuevo textarea:focus{
    border: 1px solid #000;
}
.nuevo_btn{
    float: right;
}